.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.feature-text {
    white-space: break-spaces;
}

    .feature-text > ol {
        list-style: none;
        counter-reset: cupcake;
    }

        .feature-text > ol li {
            counter-increment: cupcake;
            display: flex;
        }

            .feature-text > ol li:before {
                content: counters(cupcake, '.') '. ';
                color: var(--mud-palette-secondary);
                font-weight: bold;
                padding-right: 1rem;
            }

.hljs-copy-button {
    color: var(--mud-palette-text-primary) !important;
    border-color: var( --mud-palette-action-default) !important;
    background-color: var(--hljs-theme-background) !important;
}

    .hljs-copy-button:hover {
        border-color: var( --mud-palette-action-default-hover) !important;
    }
